body {
  font-family: "Noto Sans Khmer", "sans-serif";
}

/* Hide the default checkbox */
.custom-checkbox {
  display: none;
}

/* Style the label to look like a checkbox */
.container {
  padding: 0 15px; /* Add padding to the left and right edges */
}

.row-cols-1,
.row-cols-sm-2,
.row-cols-md-4 {
  display: flex;
  flex-wrap: wrap;
  margin: -5px; /* Negative margin to counteract column padding */
}

.col {
  flex: 0 0 100%; /* Set column to full width */
  max-width: 100%;
  padding: 5px; /* Add padding to each column */
}

.mini-checkbox {
  flex: 0 0 100%; /* Set column to full width */
  max-width: 100%;
  padding-left: 30px; /* Add padding to each column */
}

.custom-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px; /* Adjust padding as needed */
  margin: 5px; /* Add margin between columns */
  flex-grow: 1;
}

/* Add a checkmark when the checkbox is checked */
.custom-checkbox:checked + .custom-label {
  background-color: #4caf50;
  color: white;
}

.custom-checkbox:checked + .custom-label::before {
  content: "✔ ";
  display: inline-block;
  margin-right: 8px;
  color: white;
}
